# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
ENV/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite3

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Archives
*.zip
*.tar.gz
*.tar
*.rar
*.7z

# Airflow
airflow.db

# Docker
*.pid

# Misc
*.bak
*.swp
*~
